/* FONTE PADRÃO */
li {
    font-size: 20px;
    padding: 1%;
}

/* ESTILO DA LISTA */
.lista {
    height: 23vh;
    border: 1px solid black;
    margin: -9px;
    padding: 10px;
    background: linear-gradient(
        180deg
        , rgba(57,58,94,1) 0%, rgba(40,42,63,1) 100%);
    color: #fff;
    list-style: none;
}

/* BOTÃO PAGAR */
.botaoPagar {
    float: right;
    margin-top: 9vh;
    width: 8%;
}

/* IMAGEM */
.imgPerfil {
    position: absolute;
    border-radius: 90px;
    margin-top: 2vh;
}

/* INFORMAÇÕES DOS USUARIOS */
.nomePerfil {
    margin-left: 16vh;
    position: absolute;
    margin-top: 6vh;
}

.idPerfil {
    position: absolute;
    margin-left: 16vh;
    margin-top: 8vh;
}

.UserPerfil {
    position: absolute;
    margin-left: 25vh;
    margin-top: 8vh;
}
