/* MODAL */
.modal {
    border: 1px solid black;
    background-color: white;
    width: 75vw;
    height: 35vh;
    position: fixed;
    left: 12.5vw;
    top: 12.5vh;
    display: flex;
    flex-direction: column;
} 

/* FORMULARIO */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 

/* CABEÇALHO MODAL */
.headerModal {
    background-color: rgba(57,58,94,1);
    display: block;
    color: white;
    height: 6vh;
}

.headerModal span {
    position: absolute;
    padding: 2%;
}

/* IMPUT */
.impt {
    margin-bottom: 1%;
}

/* SELECT */
.selec {
    margin-bottom: 1%;
}